/* Start Variables  */
:root {
  --main-color: #00c7fc;
  --transparant-color: #495e6475;
  --padding-section: 100px 0;
}
/* End Variables  */

/* Start global rules  */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End global rules  */
/* start components */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 50px 0;
  position: relative;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  background-color: #000;
  width: 120px;
  height: 1px;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25px;
  background-color: #fff;
  border: 1px solid #000;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.main-heading p {
  padding: 0 10%;
  color: #777;
  margin-bottom: 100px;
  max-width: 100%;
  line-height: 2;
}
/* End components */

/* Start Header */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  min-height: 97px;
}
header .container::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #fff;
  bottom: 0;
  width: calc(100% - 30px);
}
header img {
  height: 40px;
}
header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header nav .toggle-menu {
  color: #fff;
  font-size: 20px;
}
@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }
}
header nav ul {
  display: flex;
}
@media (max-width: 767px) {
  header nav ul {
    display: none;
  }
  header nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 100%;
    width: 100%;
    background-color: #00000050;
  }
  header nav ul li a {
    padding: 20px !important;
  }
}
header nav ul li a {
  padding: 40px 10px;
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  transition: 300ms;
  position: relative;
  z-index: 1;
}
header nav ul li a.active,
header nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
}
header nav .form {
  color: #fff;
  padding-left: calc(100% / 20);
  margin-left: calc(100% / 12);
  border-left: 1px solid #fff;
  align-items: center;
}

/* End Header */
/* Start Landing  */
.landing {
  min-height: 100vh;
  background-color: #1f2021;
  background-image: url("../images/landing.jpg");
  background-size: cover;
  position: relative; /*for overllay layer of color */
}
.landing .overlay {
  position: absolute; /* layer of color */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 40%);
}
.landing .text {
  position: absolute;
  top: 50%;
  left: 0;
  width: 50%;
  transform: translateY(-50%);
  padding: 50px;
  color: #fff;
  background-color: var(--transparant-color);
  display: flex;
  justify-content: flex-end;
}
.landing .text .content {
  max-width: 500px;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
  .landing .text .content {
    max-width: 100%;
  }
  .landing .change-background {
    display: none;
  }
}
.landing .text .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}
.landing .text .content p {
  font-size: 14px;
  line-height: 2;
}
.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
}
.landing .fa-angle-left {
  left: 30px;
}
.landing .fa-angle-right {
  right: 30px;
}
.landing .bullets {
  position: absolute;
  bottom: 20px;
  right: 50%;
  /* transform: translateX(-50%); */
  display: flex;
}
.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-left: 10px;
}
.landing .bullets .active {
  border: none;
  background-color: var(--main-color);
}

/* End Landing  */
/* Start Services */
.services {
  padding: var(--padding-section);
}
@media (min-width: 768px) {
  .services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
  }
}
.services-container .srv-box {
  display: flex;
}
.services-container .srv-box i {
  margin-right: 50px;
}
@media (max-width: 767px) {
  .services .srv-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
  .services .srv-box i {
    margin: 0 0 30px;
  }
}
.services-container .srv-box h3 {
  color: var(--main-color);
  margin-bottom: 30px;
}
.services-container .srv-box p {
  line-height: 2;
  color: #777;
}
/* End Services */
/* Start Our Design   */
.our-design {
  padding: var(--padding-section);
  height: 600px;
  position: relative; /*for overllay layer of color */
  background-image: url(/images/design-features.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden; /* to hide image-bottom with z-index:2 & bottom:-120 */
}
@media (max-width: 768px) {
  .our-design {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: inherit;
    height: 700px;
  }
}
.our-design::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 40%);
}
.our-design .image,
.our-design .text {
  position: relative;
  flex: 1;
  z-index: 2;
}
.our-design .image {
  text-align: center;
}
.our-design .image img {
  position: relative;
  bottom: -120px;
}
.our-design .text {
  color: #fff;
  padding: 50px;
  background-color: var(--transparant-color);
  margin-left: 50px;
}
.our-design .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.our-design .text li {
  padding: 20px 0;
}
.our-design .text li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 2px;
}

/* End Our Design   */
