/*
 * A Design by Hallousse Yehya
 * Author: Hallousse
 * Author URL: http://hy.com
 * Version: 1.1
 */

/* Start Variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px 0;
  --section-background: #f6f6f6;
  --main-duration: 400ms;
  --transparant-color: #495e6475;
  --padding-section: 100px 0;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Components */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}

.special-heading + p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin: 20px auto;
    font-size: 20px;
  }
}
/* End Components */

/* Start Header */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  min-height: 97px;
}
header .container::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #fff;
  bottom: 0;
  width: calc(100% - 30px);
}

header .logo {
  margin-bottom: 20px;
  padding-top: 20px;
  text-transform: uppercase;
  color: var(--main-color);
  cursor: pointer;
  transition: var(--main-duration);
}
header .logo:hover {
  color: var(--section-background);
}
header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header nav .toggle-menu {
  color: #fff;
  font-size: 20px;
}
@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }
}
header nav ul {
  display: flex;
}
@media (max-width: 767px) {
  header nav ul {
    display: none;
  }
  header nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 100%;
    width: 100%;
    background-color: #00000050;
  }
  header nav ul li a {
    padding: 20px !important;
  }
}
header nav ul li a {
  padding: 40px 10px;
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  transition: 300ms;
  position: relative;
  z-index: 1;
}
header nav ul li a.active,
header nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
}
header nav .form {
  color: #fff;
  padding-left: calc(100% / 20);
  margin-left: calc(100% / 12);
  border-left: 1px solid #fff;
  align-items: center;
  cursor: pointer;
}

/* End Header */

/* Start Landing  */
.landing {
  min-height: 100vh;
  background-color: #1f2021;
  background-image: url("../assets/landing.jpg");
  background-size: cover;
  position: relative;
}

.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 40%);
}
.landing .text {
  position: absolute;
  top: 50%;
  left: 0;
  width: 50%;
  transform: translateY(-50%);
  padding: 50px;
  color: #fff;
  background-color: var(--transparant-color);
  display: flex;
  justify-content: flex-end;
}
.landing .text .content {
  max-width: 500px;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
  .landing .text .content {
    max-width: 100%;
  }
  .landing .change-background {
    display: none;
  }
}
.landing .text .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}
.landing .text .content p {
  font-size: 14px;
  line-height: 2;
}
.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
  cursor: pointer;
}
.landing .fa-angle-left {
  left: 30px;
}
.landing .fa-angle-right {
  right: 30px;
}

/* End Landing  */
/* Start Video */
.video {
  position: relative;
}
.video::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--transparant-color);
}
.video video {
  width: 100%;
}
.video .text {
  text-align: center;
  position: absolute;
  background-color: #00c7fc50;
  top: calc(100% / 3);
  width: 100%;
  padding: 50px;
}
.video .text h2 {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 20px;
}
.video .text p {
  color: #fff;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 200;
}
.video .text button {
  color: #fff;
  font-size: 12px;
  background-color: #1f2021;
  text-transform: uppercase;
  padding: 10px 30px;
  border: none;
  transition: var(--main-duration);
  cursor: pointer;
  border-radius: 5px;
}
.video .text button:hover {
  color: #1f2021;
  background-color: var(--main-color);
}
/* End Video */
/* Start Services Section */
.services {
  padding: var(--section-padding);
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
}
.services .services-content .srv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .services-content .srv .text {
  flex: 1;
}
.services .services-content .srv .text h3 {
  margin: 0 0 20px;
}
.services .services-content .srv .text p {
  color: #777;
  font-weight: 300px;
  line-height: 1.6;
}
.services .services-content .image {
  text-align: center;
  position: relative;
}
.services .services-content .image::before {
  content: "";
  background-color: var(--secondary-color);
  position: absolute;
  height: calc(100% + 100px);
  top: -50px;
  width: 80px;
  right: 0;
  z-index: -1;
}
.services .services-content .image img {
  width: 260px;
  height: 450px;
}
@media (max-width: 1199px) {
  .image-col {
    display: none;
  }
}
/* End Services  */
/* Start Portfolio */
.portfolio {
  padding: var(--section-padding);
  background-color: var(--section-background);
}
.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 80px;
}
.portfolio .portfolio-content .card {
  background-color: white;
}
.portfolio .portfolio-content .card img {
  max-width: 100%;
}
.portfolio .portfolio-content .card .info {
  padding: 20px;
}
.portfolio .portfolio-content .card .info h3 {
  margin: 0;
}
.portfolio .portfolio-content .card .info p {
  color: #777;
  line-height: 1.6;
  margin-bottom: 0;
}
/* End Portfolio */
/* Start About */
.about {
  padding: var(--section-padding);
  padding-bottom: calc(var(--section-padding) +60px);
}
.about .about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .about .about-content {
    text-align: center;
    flex-direction: column;
  }
}
.about .about-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}
@media (max-width: 991px) {
  .about .about-content .image {
    margin: 0 auto 60px;
  }
}
.about .about-content .image::before {
  content: "";
  background-color: #ebeced;
  position: absolute;
  height: calc(100% + 80px);
  top: -40px;
  width: 80px;
  left: -20px;
  z-index: -1;
}
.about .about-content .image::after {
  content: "";
  position: absolute;
  height: 300px;
  width: 120px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  top: -40px;
  right: -170px;
  z-index: -1;
}
@media (max-width: 991px) {
  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }
}
.about .about-content .image img {
  width: 250px;
  height: 375px;
}
.about .about-content .text {
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 40px;
}
.about .about-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}
.about .about-content .text p:last-of-type {
  line-height: 2;
  color: #777;
}
/* End About */
/* Start Subscribe */
.subscribe {
  padding: var(--padding-section);
  background-image: url("../assets/subscribe.jpg");
  background-size: cover;
  position: relative;
  color: white;
}
.subscribe::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--transparant-color);
}
.subscribe .container {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .subscribe .container {
    flex-direction: column;
  }
}
.subscribe form {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
}
.subscribe form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
}
.subscribe form input[type="email"] {
  border: 1px solid white;
  border-right: none;
  background: none;
  padding: 20px 20px 20px 60px;
  caret-color: var(--main-color);
  width: calc(100% - 130px);
  color: white;
}
.subscribe form input[type="submit"] {
  width: 130px;
  background-color: var(--main-color);
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  border-left: none;
  text-transform: uppercase;
  transition: 300ms;
  cursor: pointer;
}
.subscribe form input[type="submit"]:hover {
  border: 1px solid var(--main-color);
  background-color: #fff;
  color: var(--main-color);
}

.subscribe form input[type="email"]:focus,
.subscribe form input[type="submit"]:focus {
  outline: none;
}
.subscribe form ::placeholder {
  color: white;
}
.subscribe p {
  line-height: 2;
  margin-left: 50px;
}
@media (max-width: 991px) {
  .subscribe p {
    margin: 30px 0 0;
  }
}
/* End Subscribe */
/* Start Contact */
.contact {
  padding: var(--padding-section);
}
.contact .content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .contact .content {
    flex-direction: column;
  }
}
.contact .content form {
  flex-basis: 70%;
}
.contact .content form .main-input {
  padding: 20px;
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  width: 100%;
}
.contact .content form .main-input:focus {
  outline: none;
}
.contact .content form textarea.main-input {
  height: 200px;
}
.contact .content form input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  padding: 20px;
  border: none;
  display: flex;
  margin-left: auto;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 10px;
  transition: 300ms;
}
.contact .content form input[type="submit"]:hover {
  border: 1px solid var(--main-color);
  background-color: #fff;
  color: var(--main-color);
}
.contact .content .info {
  flex-basis: 25%;
}
@media (max-width: 767px) {
  .contact .content .info {
    order: -1;
    text-align: center;
  }
}
.contact .content .info h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
}
.contact .content .info .phone {
  display: block;
  color: #777;
  margin-bottom: 10px;
}
.contact .content .info h4:nth-of-type(2) {
  margin-top: 90px;
}
@media (max-width: 767px) {
  .contact .content .info h4:nth-of-type(2) {
    margin-top: 30px;
  }
}
.contact .content .info address {
  color: #777;
  line-height: 2;
}
@media (max-width: 767px) {
  .contact .content .info address {
    margin-bottom: 40px;
  }
}
/* End Contact */
/* Start Footer */
.footer {
  padding-top: calc(var(--section-padding) / 2);
  padding-bottom: calc(var(--section-padding) / 2);
  background-image: url("../assets/subscribe.jpg");
  background-size: cover;
  position: relative;
  color: white;
  text-align: center;
}
.footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}
.footer .container {
  position: relative;
}
.footer .logo {
  margin-bottom: 20px;
  padding-top: 20px;
  text-transform: uppercase;
  color: var(--main-color);
  cursor: pointer;
  transition: var(--main-duration);
}
.footer .logo:hover {
  color: var(--section-background);
}
.footer p:not(.copyright) {
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid white;
  font-size: 22px;
  width: fit-content;
  margin: 20px auto;
}
.footer .social-icons i {
  padding: 10px 15px;
  cursor: pointer;
}
.footer .social-icons i:hover {
  transform: scale(1.2);
  color: var(--main-color);
}

.footer .copyright {
  margin-top: 60px;
}
.footer .copyright span {
  font-weight: bold;
  color: var(--main-color);
}
/* End Footer */
